@charset 'UTF-8';
:root {
  --y-axis-page-align: center;
  --x-axis-page-align: center;

  --color-accent-1: rgb(77, 166, 81);
  --color-accent-2: lime;
  --color-accent-3: limegreen;
  --color-accent-4: limegreen;

  --color-logo: white;
  --color-text: var(--color-accent-1);

  --color-main-1: #222;
  --color-main-2: #111;
  --color-main-3: lime;

  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #0d0d0d;

  --background: #000;

  --border-type: double;
  --border-thickness: 4px;
  --border-radius: 0px;
  --border-color: lime;

  --scrollbar-width: 10px;
  --scrollbar-track: #111;
  --scrollbar-handle: var(--color-accent-1);

  --max-width: 600px;

  --font-primary: 'EXEPixelPerfect', sans-serif;
  --font-secondary: 'EXEPixelPerfect', sans-serif;
  --font-header: 'EXEPixelPerfect', sans-serif;
  --font-size: 200%;
}

@font-face {
  font-family: 'EXEPixelPerfect';
  src:
    local('EXEPixelPerfect'),
    url('/fonts/EXEPixelPerfect.ttf') format('truetype');
}

.content-wrapper {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  padding: 10px;
}

#content-area {
  height: 500px;
  overflow: auto;
  padding: 5px;
}

nav {
  padding: 0 3px;
}
nav a {
  color: var(--color-accent-1);
}
.vs {
  border: var(--border);
}
