@charset 'UTF-8';
:root {
  --y-axis-page-align: center;
  --x-axis-page-align: center;

  --color-accent-1: rgb(77, 166, 81);
  --color-accent-2: lime;
  --color-accent-3: limegreen;
  --color-accent-4: limegreen;

  --color-logo: white;

  --color-main-1: #222;
  --color-main-2: #111;
  --color-main-3: lime;

  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #0d0d0d;

  --background: #000;

  --border-type: double;
  --border-thickness: 4px;
  --border-radius: 0px;
  --border-color: lime;

  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  --max-width: 600px;

  --font-primary: 'EXEPixelPerfect', sans-serif;
  --font-secondary: 'EXEPixelPerfect', sans-serif;
  --font-header: 'EXEPixelPerfect', sans-serif;
  --font-size: 150%;
}

@font-face {
  font-family: 'EXEPixelPerfect';
  src:
    local('EXEPixelPerfect'),
    url('/fonts/EXEPixelPerfect.ttf') format('truetype');
}

#content-area {
  height:500px;
}

.vs {
  border: var(--border);
}
